pre {
    max-height: 40em;
    overflow: auto
}

div.CodeMirror {
    border: 1px solid #ddd;
}

.body .row {
    border-bottom: 1px solid #ddd;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

div.head {
    background-color: #ddd;
    padding: 0.5em;
}

.jstree-anchor {
    /*enable wrapping*/
    white-space : normal !important;
    /*ensure lower nodes move down*/
    height : auto !important;
    /*offset icon width*/
    padding-right : 1px;
}