pre {
    max-height: 40em;
    overflow: auto
}

.CodeMirror-focused {
    outline: auto 5px -webkit-focus-ring-color;
    outline-offset: 0;
}

.CodeMirror {
    border: 1px solid #ddd;
    height: auto !important;
}

.CodeMirror-scroll {
    max-height: 25em;
}

.body .row {
    border-bottom: 1px solid #ddd;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

div.head {
    background-color: #ddd;
}

div.body, div.head{
    padding: 0.5em;
}

.jstree-anchor {
    /*enable wrapping*/
    white-space : normal !important;
    /*ensure lower nodes move down*/
    height : auto !important;
    /*offset icon width*/
    padding-right : 1px;
    padding-bottom : 5px;
    line-height: 15px !important;
    font-size: 12px !important;
    font-family: Consolas, Lucida Console, Courier New, monospace;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.hidden {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.tag-name {
    color: #881280;
}

.attribute-name {
    color: #994500; 
}

.attribute-value {
    color: #1C23A6;
}

#cubblesTree {
    padding-right: 2em;
}

#cubblesTreeConfigContainer {
    padding-left: 1em;
}

#cubblesTreeContainer > hr {
    margin: 0 !important;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 5px 1fr;
}
  
.vertical-gutter {
    grid-area: 1 / 2 / 2 / 2;
    cursor: ew-resize;
}

#cubblesTreeContainer, #inspectorSidebar {
    max-height: 85vh;
    overflow: auto;
}

.slot-init-value-element {
    padding: 0 0 0 1em;
    border-radius: 0px;
}

.slot-value-header.collapsed:before {
    /* symbol for "collapsed" panels */
    content:"\e250";    /* adjust as needed, taken from bootstrap.css */
}

.slot-value-header:before {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content:"\e252";    /* adjust as needed, taken from bootstrap.css */
    font-size: 10px;
    padding-right: 0.5em;
}

.slot-value-container {
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}